.weather-container {
    border-radius: 10px;
    background-color:  #A299CA;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    align-items: center;
}

.icon {
    background-color: #A299CA;
}

h1,h5 {
    color: white;
}
