<div class="container">
    <img [src]='pathImg' class="img-thumbnail circle">

    <div *ngFor="let hotel of hotels" class="abouthotel" (click)="onClick()">
        <div id="g{{hotel.id}}" class="hotel">
            <h5 style="color: rgb(75, 56, 22)">{{hotel.title}}</h5>
            <p>{{hotel.address}}</p>
            <p>{{hotel.description}}</p>
            <h6>{{hotel.phone}}</h6>
            <div>
                <img src="{{hotel.photos[0]}}" class="rounded-circle circle">
                <img src="{{hotel.photos[1]}}" class="circle rounded-circle">
            </div>
            <button (click)="onClick()">click</button>
        </div>
    </div>
</div>
